#header {
  background-color: #702d2d;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  
}

login {
  color: #fff;
  position: fixed;
  padding-top: 30px;
}

#footer {
  background-color: #702d2d;
  color: #fff;
  display: grid;
  grid-template-columns: 1;
  padding: 10px 0;
}

@media screen and (max-width: 600px) {
  header {
    padding: 5px 0;
  }

  nav ul li {
    display: inline-block;
    margin: 10px 0;
  }
  #footer{
    position: relative;
    top: 150px;
  }
}