#header {
  background-color: #702d2d;
  color: #fff;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

login {
  color: #fff;
}

#footer {
  background-color: #702d2d;
  color: #fff;
  display: grid;
  grid-template-columns: 1;
  padding: 10px 0;
}
